<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% seo %}
  </head>
  
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script> 
  <body class="{% if site.theme-dark %} dark {% else %} light {% endif %} ">

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    {% include analytics.html %}
  </body>

</html>
